<router-outlet />

<h1 [ngClass]="isEvening ? 'isActive' : 'notActive'">
  {{ title | uppercase }}
</h1>

<h3>{{ today | date : "dd/MM/YYY" }}</h3>

<h3>{{ amount | currency : "INR" }}</h3>

<h3>{{ percentValue | percent }}</h3>

<h3>{{ numberValue | number }}</h3>
<h3>{{ numberValue | number : "1.2" }}</h3>

<h4>{{ jsonObj | json }}</h4>

<h5>{{ sliceValue | slice : 1 : 3 }}</h5>

<h2>Class going to start in {{ 150 | customPipe }}</h2>


<img [src]="imageURL" alt="image url" width="150" />

<button (click)="buttonClick()">Click</button>

<h3>{{ count }}</h3>

<input [(ngModel)]="username" name="username" placeholder="Enter name" />

<h5 [ngStyle]="{ color: username.length > 0 ? 'blue' : 'red' }">
  Name: {{ username }}
</h5>

<p>{{ counter$ | async}}</p>

@if(isEvening) {
<h6>Hai this is evening</h6>
} @else {
<h6>Hai this is night</h6>
}

<ul [appHighlight]="'yellow'">
  @for (student of students; track $index) {
  <li>Student Name: {{ student.name }} - Course: {{ student.course }}</li>
  }
</ul>

<ul>
  <li *ngFor="let student of students">
    Student Name: {{ student.name }} - Course: {{ student.course }}
  </li>
</ul>

@switch (title) { @case ('angular1'){
<h6>Hai this is evening</h6>
} @case ('false') {
<h6>Hai this is night</h6>
} @default {
<h6>Hai this is morning</h6>
} }

<app-header></app-header>

<app-footer></app-footer>
