mat-form-field {
  width: 80%;
}

mat-card {
  width: 50vw;
  padding: 1rem;
  margin: 1rem auto;
  display: block;
}

mat-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

button[mat-icon-button] {
  margin-left: auto;
}
